[Tt]emp/
[Ll]ib/
[Oo]bj/

.vs/

*.user
*.tlog
*.log

# Prerequisites
*.d

# Todo lo generable de la carpeta bin
[Bb]in/*.exe
[Bb]in/*.pdb
[Bb]in/*.dll
[Bb]in/*.log
[Bb]in/*.lib
[Bb]in/*.exp
[Bb]in/[Dd]ebug/

# Builds
[Dd]ependencies/Ogre/[Bb]uild/